@page
@model BCandSC_CSharp.Pages.FormationModel
@{
    ViewData["Title"] = "Formation";
}

<form method="post">
    <div class="field">
        <div class="field-formations">
            <button class="field-formation" asp-route-formation="352" asp-route-userId="@Model.userId">3-5-2</button>
            <button class="field-formation" asp-route-formation="352" asp-route-userId="@Model.userId">3-5-2</button>
            <button class="field-formation" asp-route-formation="343" asp-route-userId="@Model.userId">3-4-3</button>
            <button class="field-formation" asp-route-formation="451" asp-route-userId="@Model.userId">4-5-1</button>
            <button class="field-formation" asp-route-formation="433" asp-route-userId="@Model.userId">4-3-3</button>
            <button class="field-formation" asp-route-formation="442" asp-route-userId="@Model.userId">4-4-2</button>
            <button class="field-formation" asp-route-formation="532" asp-route-userId="@Model.userId">5-3-2</button>
        </div>
    </div>
</form>
